@inherits LayoutComponentBase

<div class="page"
    style="
background: rgb(22,70,128);
background: linear-gradient(0deg, rgba(22,70,128,1) 0%, rgba(70,117,174,1) 10%, rgba(122,168,223,1) 29%, rgba(142,188,242,1) 60%, rgba(205,181,143,1) 84%, rgba(252,176,69,1) 97%);">
    <div class="sidebar">
        <NavMenu />
    </div>
    <main>
        <div class="top-row px-4">
            <div class="row">
                <div class="col-auto">
                </div>
                <div class="col-auto"> 
                    <button class="btn btn-danger">Logout</button>
                </div>

            </div>
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

