@page "/"

<PageTitle>Home</PageTitle>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-4 col-sm-12">
            <div class="card mb-0 h-100">
                <div class="card-body text-center align-content-center">
                    <p class="display-2">Adot</p>
                    <p class="display-6">Animais</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-sm-12">
            <div class="card bg-dark text-white">
                <img class="card-img" src="https://www.oabrj.org.br/sites/default/files/regulamentacao_uso_imagem_animais_silvestres.jpeg" alt="Card image">
                <div class="card-img-overlay">
                    <h5 class="card-title">Adote um bichinho hoje!</h5>
                    <p class="card-text">
                        Milhares de bichinos por ai estão a procura de um novo lar, e você pode ser o diferencial na vida deles.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<Adot.Client.PagesComp.AnuncioComp/>